*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;

}

/*PRINCIPAL*/

.main, .main2,.initialInformation, .aside,
.separator,.contact,.footer {
	display: flex;
}

/*OPEN NAV MENU RESPONSIVE*/
html{
	scroll-behavior: smooth;
}

.navbar{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 6px;
	background: #8a2eff;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
}

.sticky-top{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1030;
}

	.navbar a{
		text-decoration: none;
		color: #fff;
		font-size: 15px;
		padding: 0 20px;
		margin: 0 4px;
		font-weight: 600;
		text-shadow: -3px -2px 2px rgba(56,56,56,0.14);
	}

.logo{
	font-size: 18px !important; 
	margin-right: 10px;
	height: 70px;
	width: 160px;
	padding: 10px 0;
	font-weight: 900 !important;
	text-shadow: -5px -2px 1px rgba(28,162,214,0.65) !important;	
}

.list{
	list-style: none;
	display: flex;
	gap: 25px;
}

.list i{
	display: none;
}

#toggler, .navbar label{
	display: none;
	color: #000;
	font-size: 25px;
}

.navbar li a:hover{
	color: #0aebff;
	transition: all .3s ease-in;
}

.navbar label:hover{
	color: #0aebff;
	transition: all .3s ease-in;
}

@media screen and (max-width: 860px){
	.menu{
		width: 100%;
		max-height: 0;
		overflow: hidden;
	}

	.list{
		flex-direction: column;
		max-height: center;
		padding: 20px;
	}

	.list i{
		display: inline;
		font-size: 25px;
		padding: 0 5px;
	}

	.navbar label{
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		border: 1px solid #7870ff;
		padding: 3px 10px;
		border-radius: 10px;
	}

	#toggler:checked ~ .menu{
		max-height: 100%;
	}

	.navbar a{
		font-size: 12px;
	}

	.navbar{
		background-image: linear-gradient(to bottom, 
	 	#8a2eff, #7870ff, #7d9bff, 
	 	#9cc0ff, #cce0ff);
	}
}
/*CLOSE NAV MENU RESPONSIVE*/

/*OPEN MAIN*/
.main{
	height: 90vh;
	background-image: linear-gradient(to bottom, 
	 	#8a2eff, #7870ff, #7d9bff, 
	 	#9cc0ff, #cce0ff);
}

.main-container{
	width: 100%;
	display: flex;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	background-attachment: scroll;
}

.photocv{
	width: 50%;
	background: url(../images/calculator3.png);
	filter: drop-shadow(-29px -14px 26px #47585A) 
			contrast(120%) saturate(1.1);

	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom right;
	background-attachment: scroll;
}

.text-cv{
	width: 60%;
	display: flex;
	padding: 20px 30px;
	flex-wrap: wrap;
}

.text-cv h2{
	color: #fff;
	text-shadow: -3px -2px 2px rgba(56,56,56,0.64);
	width: 100%;
	padding-top: 30vh;
}


.text-cv p{
	color: #fbfbfb;
	margin-top: -5vh;
	text-shadow: -2px -2px 2px rgba(5,5,5,0.22);
}

.discover{
	display: flex;
	width: 100%;
	text-align: center;
	margin-top: -5vh;
}

.discover a{
	color: #fff;
	width: 160px;
	height: 38px;
	font-size: 14px;
	padding: 6px 0;
	font-weight: 600;
	border-radius: 50px;
	background: #8a2eff;
	border: 2px solid #8a2eff;
	text-decoration: none;
}

.discover a:hover{
	border: 2px solid #8a2eff;
	background: transparent;
	color: #000;
	transition: all .3s ease-in;
}

@media screen and (max-width: 860px){
	.main-container{
		flex-wrap: wrap;
	}

	.photocv, .text-cv{
		width: 100%;
		text-align: center;
	}

	.text-cv{
		padding: 5px 30px;
	}

	.photocv{
		background-position: bottom center;
		height: 60%;
	}

	.text-cv h2 {
		margin-top: 0;
		padding-top: 5vh;
		text-align: center;
		line-height: 20px;
		font-size: 16px;
	}

	.text-cv p{
		margin-top: 0;
		width: 100%;
		font-size: 12px;
	}

	.discover{
		margin-top: 0;
		align-content: center;
		padding: 5px;
	}

	.discover a{
		margin: 0 auto;
	}
}
/*CLOSE MAIN*/

/*OPEN MAIN 2*/
.main2{
	width: 100%;
	text-align: center;
	align-content: center;
}

.subtitle{
	height: 30vh;
	width: 100%;
	text-align: center;
}

.subtitle h2{
	margin-top: 6vh;
	font-size: 30px ;
	color: #4b0082;
	width: 100%;
}

.sectionvar{
	width: 100%;
	height: 4vh;
	margin-top: 12vh;
	align-content: center;
}

.sectionvar section{
	margin: 0 auto;
	width: 100px;
	height: 2.5vh;
	border-radius: 25px;
	 background-image: linear-gradient(to right, 
	 	#49bffd, #2ab2ff, #11a4ff, 
	 	#1f94ff, #3c83fd, #4878fd, 
	 	#576cfb, #675ff7, #6e56fa, 
	 	#764cfd, #803ffe, #8a2eff);
}

.informationimg{/*-----------------------------------------------------acaaaaaaaaa---------------*/
	width: 100%;
	padding: 20px;
	align-content: center;
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 20px;
}


.informationimg
.reloj{	
	display: flex;
	width: 700px;
	height: 300px;
	padding: 10px;
	border-radius: 10px;
	align-content: center;
	color: #5808F7;
	font-size: 120px;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 180px !important;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	animation: neonAnim 2s alternate-reverse infinite;
}
 @keyframes neonAnim{
    from {
        text-shadow:
          0 0 10px rgba(88, 8, 247, .7),
          0 0 40px rgba(88, 8, 247, .7),
          0 0 100px rgba(88, 8, 247, .7);
      }
      to {
        text-shadow:
          0 0 5px rgba(88, 8, 247, .7),
          0 0 20px rgba(88, 8, 247, .7),
          0 0 60px rgba(88, 8, 247, .7);
      }
}
.hours, .min, .sec{
	font-family: "LED Digital 7", sans-serif;
	display: inline-block;
	width: 33%;
	height: 100%;
	text-align: center;
	padding-top: 10%;
}
.point{
	font-family: "LED Digital 7", sans-serif;
	height: 100%;
	padding-top: 70px;
}

.text-container-card,
.text-container, 
.text-container2,
.text-containerx{
	display: inline-block;
	width: 100%;
}

.text-container-card{
	height: 120vh;
}

.text-container{
	height: 100vh;
}

.text-containerx{
	height: auto;
}

.text-container2{
	height: auto;
}

.text-container5{
	height: 100vh;
}


/*OPEN IMAGES AND BACKGROUNDS*/
.text-container-card{
	background-image: linear-gradient(to bottom, 
		#cce0ff, #dde7ff, #ebeeff, 
		#f6f6ff, #ffffff);
	flex-wrap: wrap;
}

.text-container-card .text-container-item{
	background: url(../images/wave4.svg);
	background-position: bottom;
	height: 100%;	
}

.text-container{
	background: url(../images/Imagen12.png);
	background-position: left;
}

.text-container2{
	background-position: right;
}

.text-container2 .text-container-item2{
	background: url(../images/wave6.svg);
	background-position: top;
}

.text-containerx{
	background-image: linear-gradient(to top, 
	 	#cce0ff, #dde7ff, #ebeeff, 
	 	#f6f6ff, #ffffff);
}

.text-container5{
	background-image: linear-gradient(to bottom, 
		#cce0ff, #9cc0ff, #7d9bff, 
		#7870ff, #8a2eff);
	background-position: top;
}

.text-container,
.text-container2,
.text-containerx,
.text-container5,
.text-container-card .text-container-item,
.text-container2 .text-container-item2{
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: scroll;
}

/*CLOSE IMAGES & BACKGROUNDS*/

.text-container-item, 
.text-container-item2{
	display: flex;
	width: 100%;
	height: auto;
	padding: 30px;
}

.text-container .sectionvar,
.text-container2 .sectionvar{
	margin-left: 0;
	margin-top: 8vh;
}

.text-container-item h2,
.text-container-item2 h2{ 
	font-size: 30px ;
	color: #4b0082;
	width: 100%;
	text-align: left;
}

.text-container-item .subtitle p,
.text-container-item2 .subtitle p{  /*------------------------aqui esta el dilema del gris del p------------*/
	width: 100%;
	text-align: left;
	font-size: 14px;
}

.text-container-item p,
.text-container-item2 p{
	margin-top: 20px;
}


.subtitle-container{
	width: 60%;
	flex-wrap: wrap;
	padding: 20px 50px;
	/*border: 2px solid red;*/
}

.subtitle-container p{
	color: #606060;
}

.photo-container{
	display: flex;
	width: 50%;
	height: auto;
	padding: 70px 50px;
	/*text-align: center;*/
	color: #606060;
	justify-content: center;
	align-items: center;
	/*border: 2px solid blue;*/
}

/*.photo-container2{
	width: 100%;
	height: 60%;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-attachment: scroll;
}*/

/*.photo-container2-item{
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	border-radius: 25px;

  	background: url(../images/clockmockup2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}*/

.calculator-container{
	/*border: 2px solid red;*/
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	color: #fff;
	/*border: 2px solid yellow;*/
}

.calculator{
	/*border: 2px solid purple;*/
	display: grid;
	grid-template-columns: repeat( 4, 60px);
	grid-template-rows: 160px repeat(5, 60px);
	background: #8a2eff;
	padding: 20px;
	border-radius: 32px;
	box-shadow: 15px 10px 0px 5px #00000033;
	color: #fff;
	gap: 5px;
}

button{
	padding: 60px;
	cursor: pointer;
	margin: 20px;
	padding: 0;
	border-radius: 50px;
	font-size: 30px;
	border: none;
	background-color: #8a2eff;
	box-shadow: 5px 5px 10px -3px #00000040, 
							-5px -5px 15px 3px rgba(122, 20, 255, .8);
	color: #fff;
}

button:active{
	background-color: rgba(97,0,224,.8);
}

button:focus{
	outline: none;
}
.col-2{
	grid-column: span 2;
}

.calculator button, .display{
	font-family: 'Subatomic Tsoonami', sans-serif !important;
}
.calculator button{
	font-size: 25px !important;
}

.display{
	/*border: 2px solid blue;*/
	grid-column: 1/-1;
	padding: 10px;
	display: flex;
	margin: 10px 10px 20px;
	flex-direction: column;
	align-items: flex-end;
	background-color: #fff;
	color: #8a2eff;
	border-radius: 32px;
	text-align: right;
	justify-content: space-between;
	word-break: break-all;
	box-shadow: 0 0 0 10px #00000033;
}

#present-value{
	font-size: 25px ;
}

#previous-value{
	font-size: 40px;
}


@media screen and (max-width: 860px){
	.calculator-container{
		margin-top: -100px;
	}

	.subtitle-container{
		padding: 20px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 371px){
	.calculator{
		grid-template-columns: repeat(4, 40px);
		grid-template-rows: 120px repeat(5, 40px);
	}

	#present-value{
		font-size: 15px ;
	}

	#previous-value{
		font-size: 25px;
	}
}










































































.photo-container2-item .reloj{
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 17% 0% 46% 0%;	
	background: transparent;
	align-content: center;	
}

.hours2, .min2{
	font-family: 'Subatomic Tsoonami', sans-serif;
	display: inline-block;;
	width: 100%;
	height: 54px;
	text-align: center;
	font-size: 55px;
	-webkit-text-stroke: 1px #000;
}

.hours2{
	color: orange;
}

.sec2{
	font-family: 'Subatomic Tsoonami', sans-serif;
	display: inline-block;
	width: 100%;
	height: 18px;
	text-align: center;
	font-size: 18px;
	padding-top: 2px;	
}

.fecha{
	padding-top: 10px;
	display: inline-block;
	font-size: 8px;
	text-align: center;
	width: 100%;
	color: orange;
}

.photo-container h2,
.photo-container p,
.photo-container a{
	text-align: center;
	margin: 10px auto;
}

.photo-container i{
	font-size: 20px;
}

.text-container2 .discover{
	margin-top: 0;
	padding: 5px 0;
}

.text-container2 .sectionvar section{
	margin-left: 0;
}

.html-img{
margin-top: 20px;
background: rgba(106, 33, 199, .9);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(106, 33, 199, 0.3);

}

.css-img{
	border-radius: 25px;
}

.text-containerx
.text-container-item,
.text-container-item{
	padding: 30px;
	flex-wrap: wrap;
}

.text-containerx h2,
.text-containerx p{
	text-align: center;
}
.text-containerx p{
	margin-top: 0;
}


.text-container2 p,
.text-containerx p{
	color: #696969;
}


.text-container3 .principal-item1 h2{
	margin-top: 50px;
}

.principal-item1{
	width: 100%;
	padding: 40px 50px;
	gap: 5px;
}

.principal-item1 p{
	margin-top: 0;
	margin-top: 20px;
	color: #696969;
}

.principal-item2{
	padding: 0 50px;
	/*border: 2px solid red;*/
	display: flex;
	justify-content: center;
	width: 100%;
	color: #606060;
}

.principal-item2 h3,
.principal-item2 h4{
	color: #4b0082;
}

.item-containerx{
	padding: 0 15px;
	text-align: center;
	justify-content: center;
}

.containerx-item1{
	text-align: center;
	padding: 15px 50px;
	line-height: 25px;
}

@media screen and (max-width: 1082px){
	.text-containerx,
	.text-container4{
		display: flex;
		height: auto !important;
	}	
}


@media screen and (max-width: 1111px){
	.photo-container2-item .reloj{
		padding: 14% 0% 46% 0%;
	}
}

@media screen and (max-width: 1054px){
	.photo-container2-item .reloj{
		padding: 12% 0% 50% 0%;
	}
}

@media screen and (max-width: 926px){
	.photo-container2-item .reloj{
		padding: 2% 0% 50% 0%;
	}
}


@media screen and (max-width: 860px){
	.text-container-item2{
		flex-wrap: wrap;
	}

	.photo-container{
		background-position: bottom center;
		width: 100%;
		padding: 150px 50px;
	}

	.photo-container2,
	.photo-container2-item{
		height: 50vh;
		background-size: contain;
	}

	.photo-container .discover{
		margin-top: -30px;
	}

	.subtitle-container{
		width: 100%;
	}

	.subtitle-container
	.sectionvar{
		margin-top: 0;
	}

	.photo-container2-item .reloj{
		padding: 17% 0% 50% 0%;
	}

	.hours2{
		margin-top: 0;
	}

	.min2{
		margin-top: 0;
	}

	.hours2, .min2{
		font-size: 40px;
		height: 30px;
	}

	.sec2{
		font-size: 14px;
		height: 20px;
		margin-top: 0;
	}

	.fecha{
		padding-top: 0px;
	}

	.text-container-card,
	.text-container2,
	.text-containerx,
	.text-container5{
		/*border: 2px solid green;*/
		display: flex;
		height: auto !important;
	}

	.principal-item2{
		flex-wrap: wrap;
		padding: 0;
	}

	.containerx-item1{
		padding: 15px 20px;
	}

	/*----------------------------ACA ES PARA DESPLAZAR LOS ITEMS----------------------------------*/

	.informationimg{
		display: flex;	
	}

	.informationimg
	img{
		height: 100%;
		width: 100%;
	}

	/*----------------------------ACA TERMINA DESPLAZAR LOS ITEMS----------------------------------*/

}

@media screen and (max-width: 820px){
	.photo-container2-item .reloj{	
		padding: 18% 0% 50% 0%;
		gap: 6px;
	}
}


@media screen and (max-width: 768px){
	.photo-container2-item .reloj{
		padding: 20% 0% 50% 0%;
		gap: 5px;
	}
}

@media screen and (max-width: 733px){
	.photo-container2-item .reloj{
		padding: 22% 0% 50% 0%;
	}
}

@media screen and (max-width: 673px){
	.photo-container2-item .reloj{
		padding: 24% 0% 50% 0%;	
	}

	.informationimg
	.reloj{
		font-size: 100px;
	}

	.hours, .min, .sec{
		padding-top: 15%;
	}
}

@media screen and (max-width: 643px){
	.photo-container2-item .reloj{
		padding: 26% 0% 50% 0%;	
	}
}


@media screen and (max-width: 461px){
	.text-cv p{
		font-size: 12px;
	}
	
	.text-cv h3,
	.text-cv h2{
		font-size: 13px;
	}

	.text-container-item p,
	.text-container-item2 p,
	.footer-container p,
	.footer-container a{
		font-size: 12px;
	}

	.text-container-item h2,
	.text-container-item2 h2{
		font-size: 15px;
	}

	.card .con-text p{
		font-size: .6rem;
	}

	.photo-container2-item{
		background-size: cover;
	}

	.item-containerx{
		display: flex;
		flex-wrap: wrap;
		height: auto;
		width: 100%;
		margin-top: 10px;
	}

	.containerx-item1{
		justify-content: center;
	}

	.principal-item2{
		height: auto;
		width: 100%;
	}
	.containerx-item1{
		display: flex;
		font-size: 12px;
		flex-wrap: wrap;
		height: auto;
		width: 100%;
	}

	.row-container{
		padding: 15px 0px 15px 0px !important;
	}

	.informationimg
	.reloj{
		font-size: 60px;
	}

	.hours, .min, .sec, .point{
		padding-top: 36%;
	}

}

@media screen and (max-width: 414px){
	.photo-container2-item .reloj{
		padding: 5% 0% 50% 0%;
	}
}


@media screen and (max-width: 405px){
	.informationimg{
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 281px){
	.photo-container2-item .reloj{
		padding: 0% 0% 80% 0%;
	}
}

.row, .row2{
	display: flex;
	width: 100%;
	padding: 0 20px;
	color: #606060;
	
}

.row-container{
	width: 35%;
	padding: 15px 30px 15px 30px;

}

.row-item{
	height: 100%;
	padding: 15px 30px 15px 30px;
	transition: all 0.5s ease;

	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.row-item i{
	font-size: 25px;
}
.row-item h4{
	display: inline-block;
}

.row-item:hover{
	background-image: linear-gradient(to right, 
	 	#49bffd, #2ab2ff, #11a4ff, 
	 	#1f94ff, #3c83fd, #4878fd, 
	 	#576cfb, #675ff7, #6e56fa, 
	 	#764cfd, #803ffe, #8a2eff);
	color: #fff !important;
	text-shadow: -2px -2px 2px rgba(5,5,5,0.10);
}

.text-container5 .row{
	height: 70%;
}

.row-container2{
	width: 60%;
	padding: 30px 0px 15px 0px;
}

.row-item2{
	height: 100%;
	padding: 30px 40px 15px 40px;
	transition: all 0.5s ease;
}

.input-text{
	width: 100%;
	padding: 15px;
	margin: 10px auto;
	border-radius: 10px;
	border: 1px solid #7777;
	font-size: 12px;
	border: none;
	font-family: "Poppins",sans-serif;
	background:linear-gradient(188deg,
    	rgba(0,0,0,0)0%,
    	rgba(138,43,226,0.3) 100%);
	border-bottom: 2px solid #cce0ff;
	color: #fff;
	outline: none;
}

.input-text::placeholder,
.textarea::placeholder{
	color: #fff;
}

.input-text:active{
	border: 1px solid #48e;
}

.textarea{
	width: 100%;
	height: 32vh;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #7777;
	font-size: 12px;
	font-family: "Poppins",sans-serif;
	overflow: auto;
	resize: none;
	border: none;
	background:linear-gradient(188deg,
    	rgba(0,0,0,0)0%,
    	rgba(138,43,226,0.3) 100%);
	border-bottom: 2px solid #cce0ff;
	color: #fff;
	outline: none;
}

.row-item2 button{
	color: #000;
	width: 180px;
	height: 38px;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	padding: 9px 0;
	font-weight: 600;
	border-radius: 50px;
	background: #fff;
	border: 2px solid #fff;
	box-shadow: none;
}

.row-item2 button:hover{
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	transition: all .3s ease-in;
}

@media screen and (max-width: 860px){
	.row,
	.row2{
		flex-wrap: wrap;
	}

	.row-container,
	.row-container2{
		width: 100%;
	}

	.row-container2{
		padding:0 ;
	}

	.row-item2{
		padding: 0;
	}
}


.footer{
	width: 100%;
	height: 100vh;
	/*border: 2px solid red;*/
	background-image: linear-gradient(to top, 
		#1633ee, #4135f1, #5a37f4, 
		#6e3af7, #7f3dfa, #853dfb, 
		#8c3dfd, #923dfe, #9039fe, 
		#8e36ff, #8c32ff, #8a2eff);
}
.footer-container{
	display: flex;
	width: 100%;
	padding: 40px;
	background: url(../images/wave1.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: contain;
	flex-wrap: wrap;
}

.footer-items{
	display: flex;
	width: 100%;
	gap: 20px;
	padding: 20px;
}

.footer-container p{
	font-size: 14px;
}

.footer-item1{
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding: 30px;
	text-align: left;
}

.footer-item1 ul{	
	color: #fff;
}

.footer-item1 h3{
	margin: 20px 0;
}

.footer-item1 ul a{
	color: #dcdcdc;
	line-height: 30px;
}

.footer-container-end{
	width: 100%;
}

.small-text{
	padding: 10px 50px;
}


.con-social-btns{
	padding: 20px 50px;
	align-items: center;
}

.con-social-btns button{
	width: 60px;
	height: 60px;
	border-radius: 20px;
	background: rgba(138, 46, 255, .4);
	border: none;
	box-shadow: none;
}

.con-social-btns button:hover{
	background: rgba(138, 46, 255, 1);
	transition: all .7s ease-in;
}

.con-social-btns i{
	font-size: 20px;
	color: #fff;
}

.Copyright{
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: -2px -2px 2px rgba(5,5,5,0.10);
}


@media screen and (max-width: 860px){
	.footer{
		height: auto;
	}

	.footer-items{
		flex-wrap: wrap;
	}

	.footer-container-end{
		align-items: center;
		text-align: center;
	}

	.con-social-btns{
		padding: 20px 0px;
	}

	.con-social-btns button{
		margin: 5px 5px;
	}
}