*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;

}

/*PRINCIPAL*/

.main, .main2,.initialInformation, .aside,
.separator,.contact,.footer {
	display: flex;
}

/*OPEN NAV MENU RESPONSIVE*/
html{
	scroll-behavior: smooth;
}

.navbar{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 6px;
	background: #8a2eff;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
}

.sticky-top{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1030;
}

.navbar a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	padding: 0 20px;
	margin: 0 4px;
	font-weight: 600;
	text-shadow: -3px -2px 2px rgba(56,56,56,0.14);
}

.logo{
	font-size: 18px !important; 
	margin-right: 10px;
	height: 70px;
	width: 160px;
	padding: 10px 0;
	font-weight: 900 !important;
	text-shadow: -5px -2px 1px rgba(28,162,214,0.65) !important;	
}

.list{
	list-style: none;
	display: flex;
	gap: 25px;
}

.list i{
	display: none;
}

#toggler, .navbar label{
	display: none;
	color: #000;
	font-size: 25px;
}

.navbar li a:hover{
	color: #0aebff;
	transition: all .3s ease-in;
}

.navbar label:hover{
	color: #0aebff;
	transition: all .3s ease-in;
}

@media screen and (max-width: 860px){
	.menu{
		width: 100%;
		max-height: 0;
		overflow: hidden;
	}

	.list{
		flex-direction: column;
		max-height: center;
		padding: 20px;
	}

	.list i{
		display: inline;
		font-size: 25px;
		padding: 0 5px;
	}

	.navbar label{
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		border: 1px solid #7870ff;
		padding: 3px 10px;
		border-radius: 10px;
	}

	#toggler:checked ~ .menu{
		max-height: 100%;
	}

	.navbar a{
		font-size: 12px;
	}

	.navbar{
		background-image: linear-gradient(to bottom, 
	 	#8a2eff, #7870ff, #7d9bff, 
	 	#9cc0ff, #cce0ff);
	}
}
/*CLOSE NAV MENU RESPONSIVE*/

.row, .row2{
	display: flex;
	width: 100%;
	padding: 0 20px;
	color: #606060;
	
}

.row-container{
	width: 35%;
	padding: 15px 30px 15px 30px;

}

.row-item{
	height: 100%;
	padding: 15px 30px 15px 30px;
	transition: all 0.5s ease;

	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.row-item i{
	font-size: 25px;
}
.row-item h4{
	display: inline-block;
}

.row-item:hover{
	background-image: linear-gradient(to right, 
	 	#49bffd, #2ab2ff, #11a4ff, 
	 	#1f94ff, #3c83fd, #4878fd, 
	 	#576cfb, #675ff7, #6e56fa, 
	 	#764cfd, #803ffe, #8a2eff);
	color: #fff !important;
	text-shadow: -2px -2px 2px rgba(5,5,5,0.10);
}

.text-container5 .row{
	height: 70%;
}

.row-container2{
	width: 60%;
	padding: 30px 0px 15px 0px;
}

.row-item2{
	height: 100%;
	padding: 30px 40px 15px 40px;
	transition: all 0.5s ease;
}

.input-text{
	width: 100%;
	padding: 15px;
	margin: 10px auto;
	border-radius: 10px;
	border: 1px solid #7777;
	font-size: 12px;
	border: none;
	font-family: "Poppins",sans-serif;
	background:linear-gradient(188deg,
    	rgba(0,0,0,0)0%,
    	rgba(138,43,226,0.3) 100%);
	border-bottom: 2px solid #cce0ff;
	color: #fff;
	outline: none;
}

.input-text::placeholder,
.textarea::placeholder{
	color: #fff;
}

.input-text:active{
	border: 1px solid #48e;
}

.textarea{
	width: 100%;
	height: 32vh;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #7777;
	font-size: 12px;
	font-family: "Poppins",sans-serif;
	overflow: auto;
	resize: none;
	border: none;
	background:linear-gradient(188deg,
    	rgba(0,0,0,0)0%,
    	rgba(138,43,226,0.3) 100%);
	border-bottom: 2px solid #cce0ff;
	color: #fff;
	outline: none;
}

.row-item2 button{
	color: #000;
	width: 180px;
	height: 38px;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	padding: 9px 0;
	font-weight: 600;
	border-radius: 50px;
	background: #fff;
	border: 2px solid #fff;
	box-shadow: none;
}

.row-item2 button:hover{
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	transition: all .3s ease-in;
}

@media screen and (max-width: 860px){
	.row,
	.row2{
		flex-wrap: wrap;
	}

	.row-container,
	.row-container2{
		width: 100%;
	}

	.row-container2{
		padding:0 ;
	}

	.row-item2{
		padding: 0;
	}
}


.footer{
	width: 100%;
	height: 100vh;
	/*border: 2px solid red;*/
	background-image: linear-gradient(to top, 
		#1633ee, #4135f1, #5a37f4, 
		#6e3af7, #7f3dfa, #853dfb, 
		#8c3dfd, #923dfe, #9039fe, 
		#8e36ff, #8c32ff, #8a2eff);
}
.footer-container{
	display: flex;
	width: 100%;
	padding: 40px;
	background: url(../images/wave1.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: contain;
	flex-wrap: wrap;
}

.footer-items{
	display: flex;
	width: 100%;
	gap: 20px;
	padding: 20px;
}

.footer-container p{
	font-size: 14px;
}

.footer-item1{
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding: 30px;
	text-align: left;
}

.footer-item1 ul{	
	color: #fff;
}

.footer-item1 h3{
	margin: 20px 0;
}

.footer-item1 ul a{
	color: #dcdcdc;
	line-height: 30px;
}

.footer-container-end{
	width: 100%;
}

.small-text{
	padding: 10px 50px;
}


.con-social-btns{
	padding: 20px 50px;
	align-items: center;
}

.con-social-btns button{
	width: 60px;
	height: 60px;
	border-radius: 20px;
	background: rgba(138, 46, 255, .4);
	border: none;
	box-shadow: none;
}

.con-social-btns button:hover{
	background: rgba(138, 46, 255, 1);
	transition: all .7s ease-in;
}

.con-social-btns i{
	font-size: 20px;
	color: #fff;
}

.Copyright{
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: -2px -2px 2px rgba(5,5,5,0.10);
}


@media screen and (max-width: 860px){
	.footer{
		height: auto;
	}

	.footer-items{
		flex-wrap: wrap;
	}

	.footer-container-end{
		align-items: center;
		text-align: center;
	}

	.con-social-btns{
		padding: 20px 0px;
	}

	.con-social-btns button{
		margin: 5px 5px;
	}
}